    <!--https://developer.mozilla.org/en-US/docs/Learn/Forms/Styling_web_forms-->
    @font-face {
      font-family: "handwriting";
      src: url("../fonts/journal-webfont.woff2") format("woff2"),
           url("../fonts/journal-webfont.woff")  format("woff");
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: "typewriter";
      src: url("../fonts/mom___-webfont.woff2") format("woff2"),
           url("../fonts/mom___-webfont.woff")  format("woff");
      font-weight: normal;
      font-style: normal;
    }

  form {
    position:              relative;
    width:                 740px;
    height:                498px;
    border:                solid 1px black;
    margin:                0 auto;
    padding:               1em;
    box-sizing:            border-box;
    background:            #fff url(../images/postcard_background.jpg);
    display:               grid;
    grid-gap:              20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:    10em 1em 1em 1em;
  }
  h1 {
    font: 1em "typewriter", monospace;
    align-self: end;
  }
 #message {
    grid-row: 1 / 5;
 }
  #from,
  #reply {
    display: flex;
  }
    label {
      font: 0.9em "typewriter", sans-serif;
      color:black;
    }
    input,
    textarea {
      font: 1.4em/1.5em "handwriting", cursive, sans-serif;
      border: none;
      width: 80%;
      background: none;
      color: blue;
    }
    div#from > input {
        margin-top: -14px;
        margin-left: 10px;
        margin-bottom: 10px;
        height: 1.6em;
        padding-left: .5em;
    }
    div#reply > label {
        margin-top: 15px;
    }
    div#reply > input {
        margin: 3px 1px;
        height: 1.6em;
        padding-left: .5em;
    }
    div#telephone > input {
        margin      : 14px 0 0 -1px;
        height      : 1.5em;
        padding-left: .5em;
    }
    input:focus,
    textarea:focus {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      color: blue;
    }
    textarea {
      display: block;
      color: blue;

      padding: 10px;
      margin: 5px;
      width: 100%;
      height: 90%;
      overflow: auto;
    }
    button {
      padding:       5px;
      font:          bold 0.6em sans-serif;
      border:        2px solid #333;
      border-radius: 5px;
      background:    none;
      cursor:        pointer;
      transform:     rotate(-1.5deg);
    }
    button:after {
      content: " >>>";
    }
    button:hover,
    button:focus {
      outline:    none;
      background: #000;
      color:      #fff;
    }
